!
configure terminal
!
enable secret {{ Network_Device_Password }}
username {{ Network_Device_Username }} password {{ Network_Device_Password }}
!
service password-encryption
service sequence-numbers
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone
no service config !disable config search via tftp
!
hostname {{ Router_LAN_IP_Hostname }}
logging on
login on-failure log every 1
login on-success log every 1
!
ip domain name {{ Fully_Qualified_Domain_Name }}
!
!
!
no aaa new-model
!
ip multicast-routing
!
interface FastEthernet0/0
 no ip address dhcp
 description LAN Connection from SWITCH 1 Gi1/0/1
 ip address {{ Router_LAN_IP }} {{ Server_Subnet_Mask }}
 speed auto
 no shut
 no mop enabled
 no ip directed-broadcast
 no ip proxy-arp
 no ip redirects
!
interface FastEthernet0/1
 description WAN Link
 ip address {{ WAN_IP_SDN_Provided }} {{ WAN_Subnet_Mask_SDN_Provided }}
 duplex auto
 speed auto
 no shut
 no mop enabled
 no ip directed-broadcast
 no ip proxy-arp
 no ip redirects
!
interface FastEthernet0/2
 no ip address
 shut
!
interface FastEthernet0/3
 no ip address
 shut
!
interface FastEthernet0/4
 no ip address
 shut
!
interface Vlan1
 no ip address
 shutdown
 descriptio VLAN_1 DISABLED


ip routing
ip route 0.0.0.0 0.0.0.0 {{ WAN_Upstream_IP_SDN_Provided }}
ip route {{ Client_Default_Gateway }} {{ Client_Subnet_Mask }} {{ Switch1_Server_VLAN_IP }}
!

ip classless
no service config
no service call-home
no service finger
no service pad
no service tcp-small-servers
no service udp-small-servers
no ip finger
no ip http secure-server
no ip identd
no vstack
ip multicast-routing distributed
no boot network
no mop enabled
no ip mask-reply
no clock summer-time
no ip domain-lookup
no ip name-server
ip forward-protocol nd
no ip domain-lookup 
no ip arp gratuitous none 
no ip http server
no ip gratuitous-arps
no ip bootp server
ip dhcp bootp ignore
ip icmp rate-limit unreachable 1000
ip tcp synwait-time 10
!
no snmp-server system-shutdown
no snmp-server trap-timeout 180
snmp-server packetsize 1400
snmp-server queue-length 20
!
logging buffered 10000 informational
logging trap informational 
logging facility local6
no logging console
no logging monitor
!
logging discriminator CHGNTFY severity includes 5 facility includes SYS mnemonics includes RELOAD|RESTART|CONFIG
!
no banner exec
no banner login
no banner motd
!
banner login ^
YOU ARE ACCESSING A U.S. GOVERNMENT (USG) INFORMATION SYSTEM (IS) THAT
IS PROVIDED FOR USG-AUTHORIZED USE ONLY. BY USING THIS IS (WHICH
INCLUDES ANY DEVICE ATTACHED TO THIS IS), YOU CONSENT TO THE FOLLOWING
CONDITIONS:

-THE USG ROUTINELY INTERCEPTS AND MONITORS COMMUNICATION ON THIS IS
FOR PURPOSES INCLUDING, BUT NOT LIMITED TO, PENETRATION TESTING, COMSEC
MONITORING, NETWORK OPERATIONS AND DEFENSE, PERSONAL MISCONDUCT (PM),
LAW ENFORCEMENT (LE), AND COUNTERINTELLIGENCE (CI) INVESTIGATIONS. 
-AT ANY TIME, THE USG MAY INSPECT AND SEIZE DATA STORED ON THIS IS.
-COMMUNICATIONS USING, OR DATA STORED ON, THIS IS ARE NOT PRIVATE, ARE
SUBJECT TO ROUTINE MONITORING, INTERCEPTION, AND SEARCH, AND MAY BE
DISCLOSED OR USED FOR ANY USG-AUTHORIZED PURPOSE. THIS IS INCLUDES
SECURITY MEASURES (E.G., AUTHENTICATION AND ACCESS CONTROLS) TO PROTECT
USG INTERESTS--NOT FOR YOUR PERSONAL BENEFIT OR PRIVACY.
-NOTWITHSTANDING THE ABOVE, USING THIS IS DOES NOT CONSTITUTE CONSENT
TO PM, LE OR CI INVESTIGATIVE SEARCHING OR MONITORING OF THE CONTENT OF
PRIVILEGED COMMUNICATIONS, OR WORK PRODUCT, RELATED TO PERSONAL
REPRESENTATION OR SERVICES BY ATTORNEYS, PSYCHOTHERAPISTS, OR CLERGY,
AND THEIR ASSISTANTS. SUCH COMMUNICATIONS AND WORK PRODUCT ARE PRIVATE 
AND CONFIDENTIAL. SEE USER AGREEMENT FOR DETAILS.
^
!
crypto key generate rsa general-keys modulus 2048
ip ssh authentication-retries 2
ip ssh version 2 
ip ssh time-out 10
ip ssh dh min size 2048
ip ssh server algorithm mac hmac-sha1-96 hmac-sha1
!
line console 0
exec-timeout 9 59
logging synchronous
password {{ Network_Device_Password }}
login local
!
line aux 0
transport input none
exec-timeout 0 1
no exec
!
line vty 0 4
exec-timeout 9 59
password {{ Network_Device_Password }}
login local
transport input SSH

end

copy run start


